<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Fast Cinema</title>

    <!-- Bootstrap CSS-->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div class="container">
    <nav class="navbar navbar-dark bg-info rounded-bottom">
        <a class="navbar-brand" href="/entry">Fast Cinema</a>
        <span class="navbar-text">
            近くにある映画館を検索します！
        </span>
    </nav>
    <br>

    <img src="../static/images/TMDb_logo.png" width="110" class="img-fluid float-right">
    <br>

    {% block body %}
    {% endblock %}

    <br>

</div>

</body>
</html>